
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="background_header"></div>
<div id="background_body"></div>
<div id="chat_container">
    <div id="sidebar">
      <div id="sidebarHeader">


      </div>

      <div id="searchbox">
        <img src="../assets/images/magnifying-glass.png" alt="search">
        <input type="text" placeholder="Search to start a new chat">
      </div>

      <div id="sidebarContent">
          <div id="noConvesations">
            All chats are archived
          </div>
      </div>
    </div>
    <div id="chat"></div>
</div>
<router-outlet></router-outlet>
</body>
</html>
