
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="background_header"></div>

  <div id="background_body"></div>

  <div id="chat_container">

        <app-login *ngIf="!isLoggedIn"></app-login>

        <app-sidebar (conversationClicked)="onConversationClicked($event)" *ngIf="isLoggedIn"></app-sidebar>

        <div id="chat" *ngIf="isLoggedIn">
           <div id="chatPlaceholder" *ngIf="!conversation">
            <img src="../assets/images/phoneIcon.png" alt="">¨
            <h2>Keep your phone connected</h2>
            <p>Whatsapp connects to your phone to sync messages. To reduce data <br > usage, connect your phone to Wi-Fi.</p>
            <hr/>
            <div class="detail"></div>
            <p>WhatsApp is avaliable for Windows. <a href="#">Get it here.</a></p>
          </div>
          <app-chat [conversation]="conversation" [myNumber]="myNumber" *ngIf="conversation && isLoggedIn" >

          </app-chat>
        </div>
      </div>

  
<router-outlet></router-outlet>
</body>
</html>
